@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --font: 'Inria Serif', serif;;
    --color-one: #103178;
    --color-two: #FFC800;
    --color-three: rgb(91, 108, 143);
}
body{
    font-family: var(--font);
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
    
}

.header-logo img{
    height: 48px;
    width: auto;
}

a
{
    text-decoration: none;
}

ul{
    list-style: none;
}